<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">
    <!--保存对象-->
    <insert id="insert" parameterType="${entity}" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into ${table.name}(
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
            #if($foreach.count != $table.fields.size())
                ${field.name},
            #else
                ${field.name}
            #end
        #end
    #end
        ) values(
             #foreach($field in ${table.fields})
             #if(!${field.keyFlag})##生成普通字段
                #if($foreach.count != $table.fields.size())
                   #{${field.propertyName}},
                #else
                   #{${field.propertyName}}
                #end
             #end
            #end
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from ${table.name} where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="${entity}">
        update ${table.name}
        set

          #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
            #if($foreach.count != $table.fields.size())
                ${field.name} = #{${field.propertyName}},
            #else
                ${field.name} = #{${field.propertyName}}
             #end
        #end
        #end
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from ${table.name} where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from ${table.name}
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="${entity}Query" resultType="Long">
        select count(*) from ${table.name}
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="${entity}Query" resultMap="BaseResultMap">
        select * from ${table.name}
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from ${table.name} where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
    <result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>

#end
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
    #if(${field.name} == ${field.propertyName})${field.name}#else${field.name} AS ${field.propertyName}#end,
#end
        ${table.fieldNames}
    </sql>

#end
</mapper>
